
.App {
    padding: 30px;
    display: flex;
    align-items: center;
    text-align: center;

}

.App > div {
    margin-right: 50px;
    border-radius: 20px;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
}
.AddItemFormWrapper {
    display: inline-block;
}
.Error {
   height:6px;
    display:block;
    color:fuchsia ;
}

.error-message {
  color: red;
}

.active-filter{
    background-color: darkgray;
    border-radius: 10px;
}

.is-done {
  opacity: 0.5;
}
.Input {
    height: 16px;
    border-radius: 8px;
    border-color: yellowgreen;
    background-color: beige;
    box-sizing: content-box;
   font-size: 14px;
  }
.AddButton {
    align-items: center;
    border-radius: 5px;
    background-color: darkseagreen;
    background-position-x: center;
    height: 20px;
    text-align: center;
    display: flex;
margin: 8px;
}

.AddItemFormWrapper {
    display: flex;
    align-items: center;
}